{# templates/emails/resetPassword.html.twig #}
<!DOCTYPE html>
<html>
    <body>
        Hello {{ username }} !

        You can reset your password by accessing {{ confirmationUrl }}

        Greetings,
        Impactree team
    </body>
</html>
